extends ../layout/base
block content
    section.content-header

            .box-body.container.mt-3
                h1 Tambah Makanan
                form(role='form',method='post' action='/customers/add' enctype="multipart/form-data")
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                .form-group.mt-3
                                    label
                                        | Nama Makanan Instan
                                    input(type='text',value='#{name}',name='name',placeholder='Tambah Nama Makanan Instan', autofocus).form-control
                                .form-group.mt-3
                                    label
                                        | Jenis Makanan Instan
                                    input(type='text',name='address',placeholder='Tambah Jenis Makanan Instan').form-control
                                .form-group.mt-3
                                    label
                                        | Supplier
                                    input(type='text',value='#{email}',name='email',placeholder='Tambah Supplier').form-control
                                .form-group.mt-3
                                    label
                                        | Jumlah
                                    input(type='text',name='phone',placeholder='Tambah Jumlah').form-control
                                .form-group.my-3
                                      label
                                        | Gambar Makanan Instan
                                    input(type='file',name='gambar',placeholder='Masukan Gambar', required).form-control
                                .box-footer

                                button(type='submit').btn.btn-success.mt-3
                                    | Submit

                                a(href='/customers').btn.btn-success.pull-right.ms-3.mt-3
                                    | Back