br
.shadow(style='background-color: #00DBDE;background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);')  
  .container
    footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-4
      .col-md-4.d-flex.align-items-center
        a(href='/gate').text-white.m-2 © 2077 TokoMakmur Inc